@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swamp-50: #f3faf9;
    --swamp-100: #d7f0f0;
    --swamp-200: #aee1e1;
    --swamp-300: #7ec6ca;
    --swamp-400: #53a7ae;
    --swamp-500: #398b93;
    --swamp-600: #2c6c75;
    --swamp-700: #27575e;
    --swamp-800: #23464c;
    --swamp-900: #203d41;
    --swamp-950: #0d1f23;
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;
    --stone-800: #292524;
    --stone-900: #1c1917;
    --stone-950: #0c0a09;
}



/* ScrollBar styles */
*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: var(--swamp-400);
    border-radius: .5rem;
}

*::-webkit-scrollbar-thumb {
    background: var(--swamp-600);
    border-radius: .5rem;
}

body {
    background-color: var(--zinc-900) !important;
}

p {
    margin-bottom: 0 !important;
}



/* Main page components styles */
.shortener-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100% !important;
    margin-top: 2rem;
}

.shortener-section-title h1 {
    color: var(--swamp-100) !important;
    font-weight: 400;
}

.shortener-section-title h3 {
    color: var(--swamp-200) !important;
    font-weight: 400;
}

.shortener-section-title small {
    color: var(--neutral-300);
    font-style: italic;
}

.shortener-section-title small span {
    font-style: normal;
    background-color: var(--swamp-500);
    color: var(--swamp-100);
    border-radius: 1rem;
    cursor: pointer;
    padding: .3rem 1rem;
    margin-left: .5rem;
    transition: all .2s ease-in-out;
}

.shortener-section-title small span:hover {
    background-color: var(--swamp-700);
}

.shortener-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.shortener-input {
    width: 60%;
    background-color: var(--swamp-700);
    color: var(--swamp-200) !important;
    padding: .5rem 1.5rem;
    border: .3rem solid var(--swamp-950);
    border-radius: 1.5rem;
    outline: 0;
    transition: all .2s ease-in;
}

.shortener-input::placeholder {
    color: var(--swamp-200);
}

.shortener-input:hover {
    border: .3rem solid var(--swamp-300);
}

.shortener-input:focus {
    border: .3rem solid var(--swamp-300) !important;
}

.shortener-btn {
    width: 30%;
    background-color: var(--swamp-700);
    color: var(--swamp-200);
    padding: .5rem 1.5rem;
    border: 0px;
    border-radius: 1.5rem;
    transition: all .2s ease-in;
}

.shortener-btn:hover {
    background-color: var(--swamp-600);
    color: var(--swamp-100);
}

.shortener-btn:focus {
    background-color: var(--swamp-600);
    color: var(--swamp-100);
}

.shortener-result-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: inherit;
    margin-top: 2rem;
}

.shortener-result-section canvas {
    border-radius: 1rem;
}

.shortener-result-description {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.shortener-result-message {
    display: block;
    color: var(--swamp-100);
    background: var(--swamp-700);
    text-align: center;
    padding-block: .5rem;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.shortener-result-message.error {
    width: 60%;
    color: var(--bs-warning) !important;
    margin-top: 2rem;
}

.shortener-result {
    display: flex;
    flex-direction: row;
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    justify-content: space-around !important;
    align-items: center;
    border-radius: 1rem;
    padding-block: 1rem;
}

.shortener-result-btn {
    width: auto;
    background-color: #398b93;
    color: var(--swamp-100);
    padding: .5rem 1.5rem;
    border: 0px;
    border-radius: 1.5rem;
    transition: all .2s ease-in;
}

.shortener-result-btn:hover {
    background-color: var(--swamp-600);
}

.shortener-result-btn:focus {
    background-color: var(--swamp-600);
}

@media (max-width: 992px) {
    .shortener-form {
        display: block !important;
    }

    .shortener-input {
        display: block;
        width: inherit;
    }

    .shortener-btn {
        display: block;
        width: inherit;
    }

    .shortener-result-section {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .shortener-result-description {
        width: inherit;
    }

    .shortener-result {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
    }

    .shortener-result-message {
        margin-top: .5rem;
    }

    .shortener-result-message.error {
        width: inherit;
    }
}

.title-why-use-shortener {
    display: block !important;
    color: var(--swamp-100);
    text-align: center;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.container-why-use-shortener {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.card-why-user-shortener {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 23%;
    background-color: var(--swamp-800);
    border: .1rem solid var(--swamp-200);
    border-radius: 1rem;
    padding: 1rem;
}

.card-why-user-shortener i {
    color: var(--swamp-200);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.card-why-user-shortener h5 {
    color: var(--swamp-200);
    font-size: 1rem;
}

.card-why-user-shortener p {
    color: var(--swamp-300);
    font-size: 1rem;
    margin-bottom: 0 !important;
}

@media (max-width: 992px) {
    .container-why-use-shortener {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .card-why-user-shortener {
        width: inherit;
        margin-top: .5rem;
    }

    .card-why-user-shortener:first-of-type {
        margin-top: 0;
    }
}

.comment-box-form {
    display: flex;
    flex-direction: column;
}

.comment-box-form-input {
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    border: 0;
    border-radius: 1rem;
    outline: 0;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    transition: all .2s ease-in-out;
}

.comment-box-form-input::placeholder {
    color: var(--swamp-200);
}

.comment-box-form-input:hover {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.comment-box-form-input:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.comment-box-form-rate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    color: var(--swamp-200);
}

.comment-box-form-rate-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-box-form-rate-group i {
    font-size: 2rem !important;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-right: .5rem;
}

.comment-box-form-rate i:hover {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

.comment-box-form-submit {
    width: 30%;
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    border: 0;
    border-radius: 1rem;
    outline: 0;
    padding: 1rem .5rem;
    transition: all .2s ease-in-out;
}

.comment-box-form-submit:hover {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.comment-box-form-submit:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.comment-box-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

@media (max-width: 992px) {
    .comment-box-form-group {
        flex-direction: column;
    }

    .comment-box-form-rate {
        width: 100%;
    }

    .comment-box-form-rate-group span {
        display: none;
    }

    .comment-box-form-submit {
        width: 100%;
    }
}

.comment-box-published-title {
    display: block !important;
    color: var(--swamp-100);
    font-weight: 400;
    margin-top: 2rem;
}

.comment-box-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: inherit;
}

.comment-box-published-container {
    width: 70%;
}

.comment-box-rate-container {
    width: 28%;
}

.comment-box-published-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: var(--swamp-800);
    border-radius: 1rem;
    padding: .8rem;
    margin-block: .5rem;
}

.comment-box-published-card-text h5 {
    color: var(--swamp-100);
}

.comment-box-published-card-text p {
    color: var(--swamp-200);
}

.comment-box-published-card-date span {
    font-size: .7rem;
    background-color: var(--swamp-600);
    color: var(--swamp-100);
    border-radius: 1rem;
    padding: .5rem;
    margin-inline: .2rem;
}

.comment-box-rate-title {
    color: var(--swamp-100);
    font-weight: 400;
}

.comment-box-rate-results {
    display: block;
    text-align: center;
    color: var(--swamp-100);
}

@media (max-width: 992px) {
    .comment-box-row {
        flex-direction: column-reverse;
    }

    .comment-box-published-container {
        width: 100%;
    }

    .comment-box-rate-container {
        width: 100%;
    }

    .comment-box-published-card {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .comment-box-published-card-text {
        display: flex;
        flex-direction: column;
    }

    .comment-box-published-card-text h5 {
        width: 100%;
        font-size: medium;
        margin-top: .5rem;
    }

    .comment-box-published-card-text p {
        flex-grow: 1;
        width: 100%;
        font-size: small;
        margin-top: .5rem;
    }
}

/* Navbar component styles */

.page-navbar {
    position: sticky;
    top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(7px);
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
    z-index: 11;
}

.page-navbar-brand {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--swamp-200);
    font-weight: 800;
}

.page-navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 0px !important;
}

.page-navbar-item {
    list-style-type: none;
}

.page-navbar-link {
    display: flex;
    flex-direction: row;
    align-items:center;
    text-decoration: none;
    color: var(--swamp-100);
    background-color: var(--swamp-600);
    outline: 0;
    padding: .5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    transition: all .2s ease-in-out;
}

.page-navbar-link:hover {
    background-color: var(--swamp-700);
}

.page-navbar-link:focus {
    background-color: var(--swamp-700);
}

.page-navbar-link.active {
    background-color: var(--swamp-800);
}

.page-navbar-toggle {
    display: none;
    background-color: var(--swamp-500);
    color: var(--swamp-100) !important;
    font-size: 1.4rem !important;
    outline: 0;
    border: 0;
    border-radius: .5rem;
}

@media (max-width: 992px) {
    .page-navbar-toggle {
        position: absolute;
        display: block;
        right: 5%;
        transition: all .2s ease-in-out;
    }

    .page-navbar-toggle:hover {
        background-color: var(--swamp-700);
    }

    .page-navbar-toggle:focus {
        background-color: var(--swamp-700);
    }

    .page-navbar-toggle.active {
        background-color: var(--swamp-800);
    }

    .page-navbar-nav {
        display: none;
    }

    .page-navbar {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    @keyframes navbarAnimated {
        from {
            filter: opacity(0);
            transform: translateY(-20%);
        }
        to {
            filter: opacity(1);
            transform: translateY(0);
        }
    }

    .page-navbar-nav.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: left;
        margin-bottom: 0px !important;
        padding: 0;
        animation: navbarAnimated normal 1s;
    }

    .page-navbar-item {
        width: 100% !important;
        margin-top: .3rem;
    }

    .page-navbar-link {
        justify-content: center;
    }
}



/* Access privilegies component styles */

.access-info-title {
    display: block !important;
    color: var(--swamp-100);
    text-align: center;
    font-weight: 400;
    margin-top: 2rem;
}

.access-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.access-info article {
    display: block;
    width: 50%;
    margin-top: 1.5rem;
}

.access-info article ul {
    color: var(--swamp-400)
}

.access-info article ul li {
    list-style-type: none;
    padding-block: .3rem;
}

.access-info-join-btn {
    display: block;
    background-color: var(--swamp-500);
    color: var(--swamp-100);
    margin-inline: auto;
    padding: 1rem 1.5rem;
    border: 0px solid transparent;
    border-radius: 1.5rem;
}



/* Footer components styles */

.copyright-text {
    font-size: .8rem;
    color: var(--swamp-400);
    opacity: 70%;
}

.copyright-text p a {
    text-decoration: none;
    color: var(--swamp-100);
    transition: all .2s ease-in-out;
}

.copyright-text p a:hover {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

.copyright-text p a:focus {
    text-shadow: 0px 0px 4px var(--swamp-100);
}



/* Access section styles */

.access-section {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.access-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access-form h3 {
    color: var(--swamp-100) !important;
}

.access-form-input {
    width: 100%;
    background-color: #398b93;
    color: var(--swamp-200) !important;
    padding: .5rem 1.5rem;
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    transition: all .2s ease-in;
    margin-block: .6rem;
}

.access-form-input::placeholder {
    color: var(--swamp-200);
}

.access-form-input:hover {
    box-shadow: 0px 0px 4px 4px var(--swamp-300);
}

.access-form-input:focus {
    box-shadow: 0px 0px 4px 4px var(--swamp-300);
}

.access-form-password {
    position: relative !important;
    width: 100%;
}

.access-form-password-visibility {
    position: absolute;
    left: 89%;
    top: 24%;
    color: var(--swamp-100) !important;
    cursor: pointer;
    margin-top: 0 !important;
}

.access-form-password-visibility i {
    transition: all .2s ease-in-out;
}

.access-form-password-visibility i:hover {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

.access-form-password-visibility i {
    font-size: 1.3rem !important;
}

.access-form button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--swamp-500);
    color: var(--swamp-100);
    border-radius: 1.5rem;
    border: 0 !important;
    outline: 0;
    padding-block: .5rem;
    margin-top: .6rem;
    transition:all .2s ease-in-out;
}

.access-form button div {
    width: 1.5rem;
    height: 1.5rem;
}

.access-form button:hover {
    background-color: var(--swamp-600);
}

.access-form button:focus {
    background-color: var(--swamp-700);
}

.access-form span {
    color: var(--swamp-400);
    margin-top: 1rem;
}

.access-form span a {
    color: var(--swamp-100) !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.access-form span a:hover {
    color: var(--swamp-300) !important;
}

.access-toast {
    background-color: var(--swamp-600);
    color: var(--swamp-200);
    border-radius: 1rem;
}

.access-toast-header {
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.access-toast-header small {
    color: var(--swamp-200) !important;
}

.access-toast-close  {
    color: var(--swamp-100);
    font-size: 1rem;
    margin-left: .5rem;
    transition: all .2s ease-in-out;
}

.access-toast-close:hover {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

.access-toast-close:focus {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

@media (max-width: 992px) {
    .access-form {
        width: 100%;
    }
}



/** User dashboard components styles */

.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 1rem;
}

.user-info-container {
    width: 50%;
}

.user-info-title {
    color: var(--swamp-400);
    font-weight: 300;
}

.user-info-username {
    color: var(--swamp-100);
    font-weight: 500;
}

.user-info-url-count {
    display: block;
    background-color: var(--swamp-700);
    color: var(--swamp-400);
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-top: .5rem;
}

.url-count {
    color: var(--swamp-200);
}



/* Dashboard form to insert new urls */

.shortener-form-user {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    padding-inline: 1rem;
}

.shortener-form-user-input-group {
    margin-bottom: .5rem;
}

.shortener-form-user input {
    width: 100%;
    background-color: var(--swamp-700);
    color: var(--swamp-200) !important;
    padding: .3rem 1.5rem;
    border: 0 !important;
    outline: 0;
    border-radius: 1.5rem;
    transition: all .2s ease-in;
}

.shortener-form-user input::placeholder {
    color: var(--swamp-200);
}

.shortener-form-user input:hover {    
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.shortener-form-user input:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.shortener-form-user textarea {
    resize: none;
    width: 100%;
    background-color: var(--swamp-700);
    color: var(--swamp-200) !important;
    padding: .3rem 1.5rem;
    border: 0 !important;
    outline: 0;
    border-radius: 1.5rem;
    transition: all .2s ease-in;
}

.shortener-form-user textarea::placeholder {
    color: var(--swamp-200);
}

.shortener-form-user textarea:hover {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.shortener-form-user textarea:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.shortener-form-user-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #398b93;
    color: var(--swamp-200);
    padding: .5rem 1.5rem;
    border: 0px !important;
    outline: 0;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-inline: auto;
    transition: all .2s ease-in;
}

.shortener-form-user-submit div {
    width: 20px;
    height: 20px;
}

.shortener-form-user-submit:hover {
    background-color: var(--swamp-600);
    color: var(--swamp-100);
}

.shortener-form-user-submit:focus {
    background-color: var(--swamp-600);
    color: var(--swamp-100);
}

.shortener-form-user-error {
    font-size: .7rem;
    font-weight: 500;
    color: var(--swamp-100);
    padding-left: 1rem;
}

.dashboard-form-alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--swamp-600);
    font-weight: 500;
    padding: .5rem 1rem;
    margin-inline: .3rem;
    border-radius: 1rem;
}

.dashboard-form-alert.success {
    color: var(--swamp-100);
    border: .1rem solid var(--swamp-100);
}

.dashboard-form-alert.alert {
    color: var(--bs-warning);
    border: .1rem solid var(--bs-warning);
}



@media (max-width: 992px) {
    .dashboard-container {
        flex-direction: column-reverse;
    }

    .user-info-container {
        width: 100%;
    }

    .shortener-form-user {
        width: 100%;
        margin-top: .5rem;
        padding-inline: 0;
    }
}



/* Dashboard search component styles */

.dashboard-url-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-url-loader span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--swamp-400);
}

.dashboard-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}

.dashboard-search-bar input {
    width: 75%;
    background-color: var(--swamp-700);
    color: var(--swamp-200);
    border: 0;
    outline: 0;
    border-radius: 1rem;
    padding: .8rem 1.2rem;
    transition: all .2s ease-in-out;
}

.dashboard-search-bar input::placeholder {
    color: var(--swamp-200);
}

.dashboard-search-bar input:hover {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.dashboard-search-bar input:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.dashboard-search-bar button {
    width: 20%;
    background-color: var(--swamp-700);
    color: var(--swamp-200);
    border: 0;
    outline: 0;
    border-radius: 1rem;
    padding-block: .8rem;
    transition: all .2s ease-in-out;
}

.dashboard-search-bar button:hover {
    background-color: var(--swamp-600);
}

.dashboard-search-bar button:focus {
    background-color: var(--swamp-600);
}

.dashboard-search-result-text {
    display: block;
    background-color: var(--swamp-500);
    color: var(--swamp-100);
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

@media (max-width: 992px) {
    .dashboard-search-bar {
        flex-direction: column;
    }

    .dashboard-search-bar input {
        width: 100%;
    }

    .dashboard-search-bar button {
        margin-top: .5rem;
        width: 100%;
    }
}

/* Dashboard url cards styles */

.dashboard-url-card {
    display: flex;
    flex-direction: column;
}

.dashboard-shortened-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    background-color: var(--swamp-800);
    transform: scale(.95);
    padding: .5rem 1rem;
    border-radius: .7rem;
    border: .5px solid var(--swamp-400);
    transition: all .1s ease-in-out;
}

.dashboard-url-card-delete-btn {
    position: absolute;
    top: 2%;
    left: 88%;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--swamp-100);
    border: 0;
    outline: 0;
    transition: all .2s ease-in-out;
}

.dashboard-url-card-delete-btn:hover {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

.dashboard-url-card-delete-btn:focus {
    text-shadow: 0px 0px 7px var(--swamp-100);
}

@keyframes animation-rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

.bi-arrow-clockwise  {
    animation: animation-rotate infinite .5s ease-in-out;
}

.dashboard-shortened-card:hover {
    transform: scale(1);
}

.dashboard-url-card-options-btn {
    width: 50%;
    background-color: var(--swamp-400);
    color: var(--swamp-100);
    margin-inline: auto;
    border: 0;
    outline: 0;
    padding-block: .5rem;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
}

.dashboard-url-card-options-btn:hover {
    background-color: var(--swamp-500);
    box-shadow: 0px 0px 2px 2px var(--swamp-100);

}

.dashboard-url-card-options-btn:focus {
    background-color: var(--swamp-500);
    box-shadow: 0px 0px 2px 2px var(--swamp-100);

}

.dashboard-shortened-card h5 {
    color: var(--swamp-200);
    margin-bottom: 0;
}

.dashboard-shortened-card p {
    color: var(--swamp-400);
}

.dashboard-shortened-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    background-color: var(--swamp-600);
    color: var(--swamp-400);
    border-radius: .7rem;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

.dashboard-shortened-card div span {
    font-weight: 500;
    color: var(--swamp-100);
}

.dashboard-shortened-card div p {
    color: var(--swamp-200);
    margin-bottom: 0 !important;
}

.dashboard-card-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    overflow: visible;
}

.dashboard-shortened-card div span button:first-child {
    margin-right: .2rem;
}

.dashboard-shortened-card div span button {
    background-color: var(--swamp-400);
    color: var(--swamp-100);
    border: 0px;
    border-radius: .3rem;
    margin-right: .2rem;
    transition: all .2s ease-in-out;
}

.dashboard-shortened-card div span button:hover {
    background-color: var(--swamp-500);
}

.dashboard-shortened-card div span button:focus {
    outline: 0px;
    border: 1px solid var(--swamp-300);
}



/* Dashboard url description styles*/

.dashboard-field-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--swamp-700);
    color: var(--swamp-200);
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-top: .5rem;
    overflow: hidden;
}

.dashboard-description-row {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.dashboard-description-col {
    width: 48%;
}

.dashboard-modal-edit-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--swamp-100);
    border-bottom: 1px solid var(--swamp-100);
    padding-bottom: .2rem;
}

.dashboard-description-edit-btn {
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    border: 1px solid var(--swamp-200) !important;
    outline: 0 !important;
    border-radius: .5rem;
    padding: .3rem .5rem;
    transition: all .2s ease-in-out;
}

.dashboard-description-edit-btn:hover {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

.dashboard-description-edit-btn:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-300);
}

@keyframes edit-form-animation {
    from {
        scale: 0%;
    }
    to {
        scale: 100%;
    }
}

.dashboard-edit-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin-top: .5rem;
    animation: edit-form-animation normal .2s;
}

.dashboard-edit-input {
    display: block;
    width: 100%;
    color: var(--swamp-100);
    background-color: var(--swamp-700);
    border: 1px solid var(--swamp-200) !important;
    border-radius: .7rem;
    outline: 0 !important;
    margin-top: .3rem;
    padding: .3rem 1rem;
    transition: all .2s ease-in-out;
}

.dashboard-edit-input::placeholder {
    color: var(--swamp-100);
}

.dashboard-edit-input:hover {
    background-color: var(--swamp-500);
}

.dashboard-edit-input:focus {
    background-color: var(--swamp-500);
}

.dashboard-edit-confirm {
    display: block;
    margin-top: .5rem;
    background-color: var(--swamp-700);
    color: var(--swamp-200);
    border-radius: .5rem;
    border: 1px solid var(--swamp-200) !important;
    outline: 0 !important;
    margin-left: auto;
    transition: all .2s ease-in-out;
}

.dashboard-edit-confirm:hover {
    background-color: var(--swamp-600);
}

.dashboard-edit-confirm:focus {
    background-color: var(--swamp-600);
}

.dashboard-description-timestamp {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.dashboard-description-timestamp span {
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-top: .5rem;
}

.dashboard-description-locked-btn {
    float: right;
    background-color: var(--swamp-700);
    color: var(--swamp-100);
    margin-top: .5rem;
    padding: .5rem 1rem;
    outline: 0;
    border: 0;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
}

.dashboard-description-locked-btn:hover {
    box-shadow: 0px 0px 0px 3px var(--swamp-400);
}

.dashboard-description-locked-btn:focus {
    box-shadow: 0px 0px 0px 3px var(--swamp-400);
}

@media (max-width: 992px) {
    .dashboard-description-row {
        flex-direction: column-reverse;
    }

    .dashboard-description-col {
        width: 100%;
    }
}

.dashboard-chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.dashboard-chart {
    background-color: var(--zinc-800);
    width: 48%;
    padding: .5rem;
    border-radius: 1rem;
}

.dashboard-chart h3 {
    font-weight: 400;
    color: var(--swamp-200);
    text-align: center;
}

.dashboard-chart span {
    display: block;
    width: fit-content;
    background-color: var(--swamp-600);
    color: var(--swamp-200);
    padding:0 .5rem;
    border-radius: .5rem;
    margin-inline: auto;
}

.dashboard-chart-error {
    color: var(--swamp-100);
    padding: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    .dashboard-chart-container {
        flex-direction: column;
    }

    .dashboard-chart {
        width: 100%;
        margin-top: .5rem;
    }

    .dashboard-chart span {
        font-size: small;
    }
}

/* Not found page styles */

.container-not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-not-found-page {
    font-size: 10rem;
    color: var(--swamp-100);
}

.text-not-found-page {
    font-weight: 300;
    color: var(--swamp-100);
}

.link-not-found-page {
    text-decoration: none;
    color: var(--swamp-100);
    background-color: var(--swamp-500);
    padding: .7rem 1rem;
    border-radius: 1rem;
    outline: 0;
    margin-top: 2.3rem;
    animation: link-not-found-animated infinite 2s;
    transition: all .2s ease-in-out;
}

.link-not-found-page:hover {
    background-color: var(--swamp-700);
}

.link-not-found-page:focus {
    background-color: var(--swamp-700);
}

@keyframes link-not-found-animated {
    from {
        transform: scale(.8);
    } to {
        transform: scale(1);
    }
}



/* Service Stats styles */

.service-stats-container {
    margin-top: 2rem;
}

.service-stats-title {
    color: var(--swamp-100);
    text-align: center;
    font-weight: 400;
}

.service-stats-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.service-stats-col {
    width: 30%;
    margin-top: 1rem;
}

.service-stats-accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--swamp-100);
    background-color: var(--swamp-500);
    padding-block: 1rem;
    border-radius: 1rem;
}

.service-stats-accounts i {
    font-size: 3rem;
}

.service-stats-accounts span {
    font-size: 1.5rem;
    font-weight: 500;
}

.container-separator {
    height: .1rem;
    background-color: var(--swamp-100);
    margin-block : 3rem;
}

@keyframes toast-animated {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.access-toast {
    animation: toast-animated normal .7s ease-in-out;
}